body {
    background: linear-gradient(90deg, #33FFE0, #33B2FF);
    color: rgb(0,0,0);
    font-family: Papyrus, fantasy;
    text-align: center;
    font-size: 28pt;
    font-weight: bold;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
	
}

footer {
	font-style: italic;
	font-size: 100%;
}